table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 10px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    flex-direction: row;
 }

 .leftTopNav {
    display: flex; 
    align-items: flex-start;
 }
 
 .rightTopNav {
    display: flex; 
    align-items: flex-end;
 }

 .tab:hover {
    text-shadow: 2px 2px;
    background-color: blanchedalmond;
    text-decoration: underline;
 }
 
a {
     color: black;
     text-decoration: none;
     margin: 20px;
 }
