table {
    width: 100%;
    background-color: #D4ECDD;
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid black;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #345B63;
    flex-direction: row;
 }

 .leftTopNav {
    display: flex; 
    align-items: flex-start;
 }
 
 .rightTopNav {
    display: flex; 
    align-items: flex-end;
 }

 .tab:hover {
    text-shadow: 2px;
    background-color: rgb(5, 59, 90);
    text-decoration: underline;
 }
 
a {
     color: black;
     text-decoration: none;
     margin: 20px;
 }

 .tab:hover {
    background-color: #152D35;
    text-decoration: underline;
 }

 .footer {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #345B63;
    position: absolute;
    width: 100%;
    bottom: 0;
}

 .leftFooter {
    display: flex; 
    align-items: flex-start;
 }
 
 .rightFooter {
    display: flex; 
    align-items: flex-end;
 }

 .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #345B63;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    margin: 5px;
  }

  .button span {
    cursor: progress;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }