table {
    width: 100%;
    background-color: #D4ECDD;
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid black;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #345B63;
    flex-direction: row;
 }

 .leftTopNav {
    display: flex; 
    align-items: flex-start;
 }
 
 .rightTopNav {
    display: flex; 
    align-items: flex-end;
 }

 .tab:hover {
    text-shadow: 2px;
    background-color: rgb(5, 59, 90);
    text-decoration: underline;
 }
 
a {
     color: black;
     text-decoration: none;
     margin: 20px;
 }

 .tab:hover {
    background-color: #152D35;
    text-decoration: underline;
 }

 .footer {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #345B63;
    position: absolute;
    width: 100%;
    bottom: 0;
}

 .leftFooter {
    display: flex; 
    align-items: flex-start;
 }
 
 .rightFooter {
    display: flex; 
    align-items: flex-end;
 }