table {
    width: 100%;
    background-color: #D4ECDD;
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid black;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #345B63;
    flex-direction: row;
}

.leftTopNav {
    display: flex; 
    align-items: flex-start;
}

.rightTopNav {
    display: flex; 
    align-items: flex-end;
}

.tab:hover {
    text-shadow: 2px;
    background-color: rgb(5, 59, 90);
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
    margin: 20px;
}

div.main {
    min-height:400px;
    margin-top:40px;
    padding-bottom: 40px;
    padding-left:15px;
    padding-right: 15px;
}

#myInput {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 23%;
    font-size: 16px;
    border: 1px solid rgb(31, 15, 15);

  }

.tab:hover {
    background-color: #152D35;
    text-decoration: underline;
}

.footer {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #345B63;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.leftFooter {
    display: flex; 
    align-items: flex-start;
}

.rightFooter {
    display: flex; 
    align-items: flex-end;
}

#button {
    display: inline-block;
    border-radius: 4px;
    background-color: #345B63;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    margin: 5px;
}

#button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#button:hover span {
    padding-right: 25px;
}

#button:hover span:after {
    opacity: 1;
    right: 0;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 35rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

input[type=text], select {
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    position: relative;
    bottom: 0;
    border-left-width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=button] {
    position: relative;
    padding: 14px 20px;
    margin: 8px 0;
    text-align: center;
    background-color: #4b0013;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.div1{
    width: 100%;
    margin: auto;
    display: block;
}

.sortClass {
    border-radius: 30px;
    border-color:#152D35;
    width: 50%;
    font-size: 18px;
    color:#45a049;
    padding: 5px;
    margin-top: 20px;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 3px solid green; 
}

.css-selector {
    background: linear-gradient(270deg, #70f3bc, #045e29);
    background-size: 400% 400%;
 

    -webkit-animation: AnimationName 30s ease infinite;

    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
 
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}